SIIRC/Service References/SIService/si2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VladimirKhil.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VladimirKhil.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellatedQuestions" nillable="true" type="tns:ArrayOfAnswerInfo" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorLog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfPersonResult" />
      <xs:element minOccurs="0" name="WrongVersions" nillable="true" type="tns:ArrayOfAnswerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameResult" nillable="true" type="tns:GameResult" />
  <xs:complexType name="ArrayOfAnswerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerInfo" nillable="true" type="tns:AnswerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerInfo" nillable="true" type="tns:ArrayOfAnswerInfo" />
  <xs:complexType name="AnswerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" type="xs:int" />
      <xs:element minOccurs="0" name="Round" type="xs:int" />
      <xs:element minOccurs="0" name="Theme" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerInfo" nillable="true" type="tns:AnswerInfo" />
  <xs:complexType name="ArrayOfPersonResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonResult" nillable="true" type="tns:PersonResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonResult" nillable="true" type="tns:ArrayOfPersonResult" />
  <xs:complexType name="PersonResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonResult" nillable="true" type="tns:PersonResult" />
  <xs:complexType name="ArrayOfPackageCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageCategory" nillable="true" type="tns:PackageCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageCategory" nillable="true" type="tns:ArrayOfPackageCategory" />
  <xs:complexType name="PackageCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageCategory" nillable="true" type="tns:PackageCategory" />
  <xs:complexType name="ArrayOfPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Package" nillable="true" type="tns:Package" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackage" nillable="true" type="tns:ArrayOfPackage" />
  <xs:complexType name="Package">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
</xs:schema>