SIIRC/Service References/SIService/si3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vladimirkhil.com/services/si?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VladimirKhil.Models" />
  <xs:import schemaLocation="http://vladimirkhil.com/services/si?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SendGameReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VladimirKhil.Models" minOccurs="0" name="result" nillable="true" type="q1:GameResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGameReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPackagesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackageResult" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VladimirKhil.Models" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q3:ArrayOfPackageCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VladimirKhil.Models" minOccurs="0" name="GetPackagesByCategoryResult" nillable="true" type="q4:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackageByIDResult" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>